Repository dauncy/bardo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, yarn prisma-lint

cleanup
  app/components/auth/SignInForm.tsx
  app/components/journals/JournalForm.tsx
  app/routes/api+/send-password-reset+/index.tsx
  app/routes/journals+/$journalId+/index.tsx
  app/routes/journals+/index.tsx
Due: prettier --write, eslint

Dev/emails (#8)
  .eslintignore
  app/components/auth/SignInForm.tsx
  app/config/configuration.ts
  app/fixtures/emails/ResetEmail.tsx
  app/routes/api+/send-password-reset+/index.tsx
  app/routes/journals+/$journalId+/index.tsx
  app/services/auth/auth-server.service.ts
  app/services/email.service.ts
  package.json
  public/logo-alt.png
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

trigger redeploy
  package.json
Due: none

flip order of scripts
  app/fixtures/emails/ResetEmail.tsx
  package.json
Due: prettier --write, eslint

try again
  package.json
Due: none

add n
  package.json
Due: none

emails look good
  app/components/auth/SignInForm.tsx
  app/fixtures/emails/ResetEmail.tsx
  app/routes/api+/send-password-reset+/index.tsx
  public/logo-alt.png
Due: prettier --write, eslint

compressed and resized
  app/fixtures/emails/ResetEmail.tsx
  public/logo-alt.png
Due: prettier --write, eslint

emails look good (#9)
  app/components/auth/SignInForm.tsx
  app/fixtures/emails/ResetEmail.tsx
  app/routes/api+/send-password-reset+/index.tsx
  public/logo-alt.png
Due: prettier --write, eslint

wip
  app/components/admin/DownloadButton.tsx
  app/components/admin/StatisticsChart.tsx
  app/components/bardo/Icons.tsx
  app/routes/admin+/index.tsx
  app/routes/api+/admin+/export+/index.ts
  app/types/admin.ts
  app/types/journals.ts
  app/utils/server.utils/forms.utils.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

admin page done
  app/components/admin/DownloadButton.tsx
  app/components/admin/StatisticsChart.tsx
  app/components/bardo/Checkbox.tsx
  app/components/bardo/Dialog.tsx
  app/components/bardo/Icons.tsx
  app/components/bardo/Popover.tsx
  app/components/bardo/Radio.tsx
  app/components/bardo/Switch.tsx
  app/components/bardo/Tabs.tsx
  app/components/bardo/Tooltip.tsx
  app/components/journals/JournalForm.tsx
  app/components/journals/ModalitySelect.tsx
  app/components/nav/ProfileMenu.tsx
  app/components/settings/DemographicsForm.tsx
  app/components/users/UpdateUserProfileImage.tsx
  app/components/utility/ClientOnly.tsx
  app/config/configuration.ts
  app/root.tsx
  app/routes/admin+/index.tsx
  app/routes/api+/admin+/export+/index.ts
  app/routes/api+/admin+/upgrade-account+/index.ts
  app/routes/user-settings+/index.tsx
  app/utils/client.utils/use-hydrated.tsx
  prisma/migrations/20240427062520_add_user_role/migration.sql
  prisma/schema.prisma
Due: prettier --write, eslint, yarn prisma-lint

Dev/admin (#10)
  app/components/admin/DownloadButton.tsx
  app/components/admin/StatisticsChart.tsx
  app/components/bardo/Checkbox.tsx
  app/components/bardo/Dialog.tsx
  app/components/bardo/Icons.tsx
  app/components/bardo/Popover.tsx
  app/components/bardo/Radio.tsx
  app/components/bardo/Switch.tsx
  app/components/bardo/Tabs.tsx
  app/components/bardo/Tooltip.tsx
  app/components/journals/JournalForm.tsx
  app/components/journals/ModalitySelect.tsx
  app/components/nav/ProfileMenu.tsx
  app/components/settings/DemographicsForm.tsx
  app/components/users/UpdateUserProfileImage.tsx
  app/components/utility/ClientOnly.tsx
  app/config/configuration.ts
  app/root.tsx
  app/routes/admin+/index.tsx
  app/routes/api+/admin+/export+/index.ts
  app/routes/api+/admin+/upgrade-account+/index.ts
  app/routes/user-settings+/index.tsx
  app/types/admin.ts
  app/types/journals.ts
  app/utils/client.utils/use-hydrated.tsx
  app/utils/server.utils/forms.utils.ts
  package.json
  prisma/migrations/20240427062520_add_user_role/migration.sql
  prisma/schema.prisma
  yarn.lock
Due: prettier --write, eslint, yarn prisma-lint

ui tweaks
  app/components/about/LearnModal.tsx
  app/components/bardo/Dialog.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/journals/JournalForm.tsx
  app/components/journals/ModalitySelect.tsx
  app/components/journals/SelectWithHint.tsx
  app/components/nav/MainNav.tsx
  app/components/settings/DemographicsForm.tsx
  app/components/users/UserPreviewCard.tsx
  app/routes/_index.tsx
  app/routes/journals+/_layout.tsx
  app/routes/journals+/index.tsx
  app/routes/journals+/new+/index.tsx
  app/routes/user-settings+/demographics+/index.tsx
  app/routes/user-settings+/index.tsx
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/index.tsx
  app/routes/welcome+/index.tsx
Due: prettier --write, eslint

more polish
  app/components/journals/JournalCard/PopoverText.tsx
Due: prettier --write, eslint

more polish
  app/root.tsx
  app/routes/_index.tsx
  app/routes/journals+/$journalId+/index.tsx
  app/routes/users.$userId+/index.tsx
  public/favicon.png
  public/meta/meta-default.png
Due: prettier --write, eslint

share and context menu polish
  app/components/bardo/Icons.tsx
  app/components/bardo/toast/Toast.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/nav/ProfileMenu.tsx
  app/routes/journals+/$journalId+/index.tsx
Due: prettier --write, eslint

wip
  app/components/nav/MainNav.tsx
  app/routes/_index.tsx
  app/routes/_marketing+/privacy.tsx
  app/routes/_marketing+/terms-of-service.tsx
Due: prettier --write, eslint

legal pages updated
  app/routes/_marketing+/terms-of-service.tsx
Due: prettier --write, eslint

minor tweaks
  app/routes/_marketing+/terms-of-service.tsx
Due: prettier --write, eslint

Dev/legal (#11)
  app/components/nav/MainNav.tsx
  app/routes/_index.tsx
  app/routes/_marketing+/privacy.tsx
  app/routes/_marketing+/terms-of-service.tsx
Due: prettier --write, eslint

squash migrations
  prisma/migrations/20240418034422_add_user_metadata/migration.sql
  prisma/migrations/20240420210059_user_onboarding/migration.sql
  prisma/migrations/20240420212503_add_welcome_step_to_user_onboarding/migration.sql
  prisma/migrations/20240421065833_update_journal_schema/migration.sql
  prisma/migrations/20240421074502_add_status_and_public/migration.sql
  prisma/migrations/20240427062520_add_user_role/migration.sql
  prisma/migrations/20240511043644_initial_migration/migration.sql
Due: none

squash migrations (#12)
  prisma/migrations/20240418034422_add_user_metadata/migration.sql
  prisma/migrations/20240420210059_user_onboarding/migration.sql
  prisma/migrations/20240420212503_add_welcome_step_to_user_onboarding/migration.sql
  prisma/migrations/20240421065833_update_journal_schema/migration.sql
  prisma/migrations/20240421074502_add_status_and_public/migration.sql
  prisma/migrations/20240427062520_add_user_role/migration.sql
  prisma/migrations/20240511043644_initial_migration/migration.sql
Due: none

minor user settings tweaks
  app/components/nav/BardoLogo.tsx
  app/components/settings/DemographicsForm.tsx
  app/components/users/UpdateUserProfileImage.tsx
  app/components/users/UserAvatar.tsx
  app/constants/user.constants.ts
  app/fixtures/emails/ResetEmail.tsx
  app/routes/_auth+/reset-password.tsx
  app/routes/api+/send-password-reset+/index.tsx
  app/routes/user-settings+/index.tsx
  app/routes/welcome+/index.tsx
  app/services/auth/auth-server.service.ts
  app/services/users.service.ts
  app/types/users.ts
  app/utils/server.utils/forms.utils.ts
Due: prettier --write, eslint

minor user settings tweaks (#13)
  app/components/nav/BardoLogo.tsx
  app/components/settings/DemographicsForm.tsx
  app/components/users/UpdateUserProfileImage.tsx
  app/components/users/UserAvatar.tsx
  app/constants/user.constants.ts
  app/fixtures/emails/ResetEmail.tsx
  app/routes/_auth+/reset-password.tsx
  app/routes/api+/send-password-reset+/index.tsx
  app/routes/user-settings+/index.tsx
  app/routes/welcome+/index.tsx
  app/services/auth/auth-server.service.ts
  app/services/users.service.ts
  app/types/users.ts
  app/utils/server.utils/forms.utils.ts
Due: prettier --write, eslint

journal fixes
  app/components/bardo/Icons.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/journals/JournalForm.tsx
  app/components/journals/NoJournals.tsx
  app/components/users/UserAvatar.tsx
  app/components/users/UserPreviewCard.tsx
  app/routes/journals+/$journalId+/index.tsx
  app/routes/journals+/index.tsx
  app/routes/users.$userId+/index.tsx
  app/types/journals.ts
Due: prettier --write, eslint

journal fixes (#14)
  app/components/bardo/Icons.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/journals/JournalForm.tsx
  app/components/journals/NoJournals.tsx
  app/components/users/UserAvatar.tsx
  app/components/users/UserPreviewCard.tsx
  app/routes/journals+/$journalId+/index.tsx
  app/routes/journals+/index.tsx
  app/routes/users.$userId+/index.tsx
  app/types/journals.ts
Due: prettier --write, eslint

change firebase
  app/config/firebase.client.config.ts
Due: prettier --write, eslint

firebase stuff
  app/config/firebase.client.config.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

firebase stuff (#15)
  app/config/firebase.client.config.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

works on everything
  app/config/firebase.client.config.ts
  app/services/auth/auth-client.service.ts
Due: prettier --write, eslint

wibbles
  app/components/auth/SignUpForm.tsx
  app/services/auth/auth-client.service.ts
Due: prettier --write, eslint

adds logging to admin auth
  app/services/auth/auth-server.service.ts
Due: prettier --write, eslint

catch db errors
  app/components/bardo/Icons.tsx
  app/components/journals/Loading.tsx
  app/db.server.ts
  app/routes/journals+/index.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.tsx)) or (any of: *.css)
  eslint: (any of: *.ts) or (any of: *.tsx)
  yarn prisma-lint: any of: *.prisma
