Repository dauncy/bardo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, yarn prisma-lint

wip
  app/services/journals.service.ts
  app/types/index.ts
  app/types/journals.ts
  package.json
  prisma/migrations/20240115065537_add_trip_journals/migration.sql
  prisma/schema.prisma
  yarn.lock
Due: prettier --write, eslint, yarn prisma-lint

wip
  app/components/bardo/Avatar.tsx
  app/components/bardo/Icons.tsx
  app/components/bardo/ScrollArea.tsx
  app/components/journals/JournalsSkeleton.tsx
  app/components/nav/SidebarNav.tsx
  app/routes/users+/$id.tsx
  app/routes/users+/index.tsx
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/index.tsx
  app/routes/users.$userId+/journals+/index.tsx
  app/routes/users.$userId+/journals+/new.tsx
  app/services/auth/auth-server.service.ts
  app/types/journals.ts
  app/utils/server.utils/account.utils.ts
  package.json
  remix.config.js
  yarn.lock
Due: prettier --write, eslint

wip
  app/components/bardo/Textarea.tsx
  app/components/journals/CreateJournal.tsx
  app/routes/_index.tsx
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/journals+/new.tsx
  app/types/journals.ts
  app/utils/server.utils/forms.utils.ts
Due: prettier --write, eslint

wip
  app/components/bardo/Card.tsx
  app/components/bardo/Icons.tsx
  app/components/bardo/Popover.tsx
  app/components/journals/CreateJournal.tsx
  app/components/journals/JournalCard.tsx
  app/components/journals/SelectWithHint.tsx
  app/components/nav/SidebarNav.tsx
  app/db.server.ts
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/journals+/index.tsx
  app/routes/users.$userId+/journals+/new.tsx
  app/types/index.ts
  package.json
  prisma/migrations/20240114202037_init/migration.sql
  prisma/migrations/20240115065537_add_trip_journals/migration.sql
  prisma/migrations/20240130075549_init/migration.sql
  prisma/schema.prisma
  yarn.lock
Due: prettier --write, eslint, yarn prisma-lint

journals crud
  app/components/bardo/Badge.tsx
  app/components/bardo/Card.tsx
  app/components/bardo/Icons.tsx
  app/components/bardo/Skeleton.tsx
  app/components/journals/CreateJournal.tsx
  app/components/journals/JournalCard.tsx
  app/components/journals/JournalCard/JournalBody.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/journals/JournalsSkeleton.tsx
  app/components/journals/SelectWithHint.tsx
  app/components/nav/MainNav.tsx
  app/components/nav/ProfileMenu.tsx
  app/components/users/UserAvatar.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/routes/journals+/_layout.tsx
  app/routes/journals+/index.tsx
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/index.tsx
  app/routes/users.$userId+/journals+/index.tsx
  app/services/auth/auth-server.service.ts
  app/services/journals.service.ts
  prisma/migrations/20240203074818_init/migration.sql
  prisma/schema.prisma
  public/favicon.ico
  public/logo.png
  remix.config.js
Due: prettier --write, eslint, yarn prisma-lint

yolo
  app/components/nav/MainNav.tsx
  app/components/nav/ProfileMenu.tsx
Due: prettier --write, eslint

edit + delete journals
  app/components/bardo/Dialog.tsx
  app/components/bardo/Icons.tsx
  app/components/journals/CreateJournal.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/journals/SelectWithHint.tsx
  app/components/nav/ProfileMenu.tsx
  app/routes/_index.tsx
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/journals+/$id.tsx
  app/types/journals.ts
  app/utils/server.utils/async.utils.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

edit + delete journals (#2)
  app/components/bardo/Dialog.tsx
  app/components/bardo/Icons.tsx
  app/components/journals/CreateJournal.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/journals/SelectWithHint.tsx
  app/components/nav/ProfileMenu.tsx
  app/routes/_index.tsx
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/journals+/$id.tsx
  app/types/journals.ts
  app/utils/server.utils/async.utils.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

file uploads work
  app/components/bardo/Icons.tsx
  app/components/bardo/Tooltip.tsx
  app/components/users/UpdateUserProfile.tsx
  app/components/users/UserAvatar.tsx
  app/config/configuration.ts
  app/routes/api+/upload+/users+/index.tsx
  app/routes/users.$userId+/index.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint

wip
  app/components/nav/SidebarNav.tsx
  app/components/users/DeleteAccount.tsx
  app/components/users/UpdateUserProfile.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/routes/users.$userId+/index.tsx
  app/services/auth/auth-client.service.ts
  app/services/users.service.ts
  app/types/users.ts
  app/utils/ui.utils.ts
Due: prettier --write, eslint

mobile fixes... and auth crud stuff
  app/components/bardo/Popover.tsx
  app/components/journals/CreateJournal.tsx
  app/components/journals/SelectWithHint.tsx
  app/components/nav/NavLink.tsx
  app/components/nav/ProfileMenu.tsx
  app/components/nav/SidebarNav.tsx
  app/components/users/DeleteAccount.tsx
  app/components/users/UpdateUserProfile.tsx
  app/components/users/UserAvatar.tsx
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/index.tsx
  app/routes/users.$userId+/journals+/index.tsx
Due: prettier --write, eslint

Dev/user crud stuff (#3)
  app/components/bardo/Icons.tsx
  app/components/bardo/Popover.tsx
  app/components/bardo/Tooltip.tsx
  app/components/journals/CreateJournal.tsx
  app/components/journals/SelectWithHint.tsx
  app/components/nav/NavLink.tsx
  app/components/nav/ProfileMenu.tsx
  app/components/nav/SidebarNav.tsx
  app/components/users/DeleteAccount.tsx
  app/components/users/UpdateUserProfile.tsx
  app/components/users/UserAvatar.tsx
  app/config/configuration.ts
  app/root.tsx
  app/routes/_index.tsx
  app/routes/api+/upload+/users+/index.tsx
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/index.tsx
  app/routes/users.$userId+/journals+/index.tsx
  app/services/auth/auth-client.service.ts
  app/services/users.service.ts
  app/types/users.ts
  app/utils/ui.utils.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

add polling url
  prisma/schema.prisma
Due: yarn prisma-lint

fix build command
  package.json
Due: none

add version
  package.json
Due: none

please work
  package.json
Due: none

new thing to try
  remix.config.js
Due: none

dotenv is not working
  app/config/configuration.ts
Due: prettier --write, eslint

fix config
  app/config/configuration.ts
Due: prettier --write, eslint

try fixing prisma
  app/db.server.ts
  prisma/schema.prisma
Due: prettier --write, eslint, yarn prisma-lint

KISS prisma env
  app/db.server.ts
  prisma/schema.prisma
Due: prettier --write, eslint, yarn prisma-lint

try
  package.json
Due: none

fix minor bug
  app/components/users/UpdateUserProfile.tsx
Due: prettier --write, eslint

update password works
  app/components/auth/ResetPasswordForm.tsx
  app/components/users/UpdateUserProfile.tsx
  app/routes/_auth+/reset-password.tsx
  app/services/auth/auth-client.service.ts
Due: prettier --write, eslint

update password works (#4)
  app/components/auth/ResetPasswordForm.tsx
  app/components/users/UpdateUserProfile.tsx
  app/routes/_auth+/reset-password.tsx
  app/services/auth/auth-client.service.ts
Due: prettier --write, eslint

polish
  app/components/about/LearnModal.tsx
  app/components/auth/InitialAuthForm.tsx
  app/components/auth/SignInForm.tsx
  app/components/auth/SignUpForm.tsx
  app/components/bardo/Icons.tsx
  app/routes/_index.tsx
Due: prettier --write, eslint

polish (#5)
  app/components/about/LearnModal.tsx
  app/components/auth/InitialAuthForm.tsx
  app/components/auth/SignInForm.tsx
  app/components/auth/SignUpForm.tsx
  app/components/bardo/Icons.tsx
  app/routes/_index.tsx
Due: prettier --write, eslint

wip
  app/components/bardo/DateForm.tsx
  app/components/bardo/Form.tsx
  app/components/bardo/Icons.tsx
  app/components/bardo/Radio.tsx
  app/components/bardo/Tabs.tsx
  app/components/nav/BardoLogo.tsx
  app/components/nav/ProfileMenu.tsx
  app/components/users/UpdateUserProfileImage.tsx
  app/db.server.ts
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/index.tsx
  app/routes/users.$userId+/settings+/_layout.tsx
  app/routes/users.$userId+/settings+/components/DemographicsForm.tsx
  app/routes/users.$userId+/settings+/components/SettingsTabs.tsx
  app/routes/users.$userId+/settings+/components/UserSettingsNav.tsx
  app/routes/users.$userId+/settings+/demographics+/index.tsx
  app/routes/users.$userId+/settings+/index.tsx
  app/services/auth/auth-server.service.ts
  app/types/users.ts
  app/utils/server.utils/search-params.utils.ts
  package.json
  prisma/migrations/20240418034422_add_user_metadata/migration.sql
  prisma/schema.prisma
  yarn.lock
Due: prettier --write, eslint, yarn prisma-lint

user onboarding done, needs testing and rewrite of routes...
  app/components/bardo/Icons.tsx
  app/components/nav/MainNav.tsx
  app/routes/_auth+/reset-password.tsx
  app/routes/_index.tsx
  app/routes/users.$userId+/journals+/$id.tsx
  app/routes/users.$userId+/journals+/index.tsx
  app/routes/users.$userId+/journals+/new.tsx
  app/routes/users.$userId+/settings+/_layout.tsx
  app/routes/users.$userId+/settings+/components/DemographicsForm.tsx
  app/routes/users.$userId+/settings+/components/SettingsTabs.tsx
  app/routes/users.$userId+/settings+/components/UserSettingsNav.tsx
  app/routes/users.$userId+/settings+/demographics+/index.tsx
  app/routes/users.$userId+/settings+/index.tsx
  app/routes/welcome+/index.tsx
  app/services/auth/auth-server.service.ts
  app/types/users.ts
  prisma/migrations/20240420210059_user_onboarding/migration.sql
  prisma/migrations/20240420212503_add_welcome_step_to_user_onboarding/migration.sql
  prisma/schema.prisma
Due: prettier --write, eslint, yarn prisma-lint

ready for review
  app/components/bardo/DateForm.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/settings/DemographicsForm.tsx
  app/components/settings/settingsTabs.tsx
  app/components/users/UserAvatar.tsx
  app/routes/_auth+/reset-password.tsx
  app/routes/_index.tsx
  app/routes/journals+/_layout.tsx
  app/routes/journals+/index.tsx
  app/routes/journals+/new+/indext.tsx
  app/routes/user-settings+/_layout.tsx
  app/routes/user-settings+/demographics+/index.tsx
  app/routes/user-settings+/index.tsx
  app/services/auth/auth-server.service.ts
  app/types/journals.ts
  app/types/users.ts
Due: prettier --write, eslint

style fixes
  app/routes/_auth+/reset-password.tsx
  app/routes/welcome+/index.tsx
Due: prettier --write, eslint

removes useless thing
  app/components/bardo/DateForm.tsx
Due: prettier --write, eslint

Dev/user demographics (#6)
  app/components/bardo/Form.tsx
  app/components/bardo/Icons.tsx
  app/components/bardo/Radio.tsx
  app/components/bardo/Tabs.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/nav/BardoLogo.tsx
  app/components/nav/MainNav.tsx
  app/components/nav/ProfileMenu.tsx
  app/components/settings/DemographicsForm.tsx
  app/components/settings/settingsTabs.tsx
  app/components/users/UpdateUserProfileImage.tsx
  app/components/users/UserAvatar.tsx
  app/db.server.ts
  app/routes/_auth+/reset-password.tsx
  app/routes/_index.tsx
  app/routes/journals+/_layout.tsx
  app/routes/journals+/index.tsx
  app/routes/journals+/new+/indext.tsx
  app/routes/user-settings+/_layout.tsx
  app/routes/user-settings+/demographics+/index.tsx
  app/routes/user-settings+/index.tsx
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/index.tsx
  app/routes/users.$userId+/journals+/$id.tsx
  app/routes/users.$userId+/journals+/index.tsx
  app/routes/users.$userId+/journals+/new.tsx
  app/routes/welcome+/index.tsx
  app/services/auth/auth-server.service.ts
  app/types/journals.ts
  app/types/users.ts
  app/utils/server.utils/search-params.utils.ts
  package.json
  prisma/migrations/20240418034422_add_user_metadata/migration.sql
  prisma/migrations/20240420210059_user_onboarding/migration.sql
  prisma/migrations/20240420212503_add_welcome_step_to_user_onboarding/migration.sql
  prisma/schema.prisma
  yarn.lock
Due: prettier --write, eslint, yarn prisma-lint

wip
  app/components/bardo/Accordion.tsx
  app/components/bardo/Checkbox.tsx
  app/components/bardo/Icons.tsx
  app/components/bardo/Switch.tsx
  app/components/bardo/typography/TypographyParagraph.tsx
  app/components/journals/CreateJournal.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/journals/JournalForm.tsx
  app/components/journals/ModalitySelect.tsx
  app/components/journals/SelectWithHint.tsx
  app/db.server.ts
  app/routes/journals+/_layout.tsx
  app/routes/journals+/index.tsx
  app/routes/journals+/new+/index.tsx
  app/routes/journals+/new+/indext.tsx
  app/types/journals.ts
  package.json
  prisma/migrations/20240421065833_update_journal_schema/migration.sql
  prisma/migrations/20240421074502_add_status_and_public/migration.sql
  prisma/schema.prisma
  yarn.lock
Due: prettier --write, eslint, yarn prisma-lint

wip
  app/components/bardo/Icons.tsx
  app/components/journals/JournalCard/JournalBody.tsx
  app/components/journals/JournalCard/PopoverText.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/journals/JournalForm.tsx
  app/components/nav/BardoLogo.tsx
  app/components/nav/MainNav.tsx
  app/components/nav/ProfileMenu.tsx
  app/components/users/UserAvatar.tsx
  app/components/users/UserJournalTabs.tsx
  app/components/users/UserPreviewCard.tsx
  app/db.server.ts
  app/routes/journals+/$journalId+/index.tsx
  app/routes/journals+/_layout.tsx
  app/routes/journals+/index.tsx
  app/routes/journals+/new+/index.tsx
  app/routes/user-settings+/demographics+/index.tsx
  app/routes/user-settings+/index.tsx
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/index.tsx
  app/types/journals.ts
  app/types/users.ts
  app/utils/server.utils/search-params.utils.ts
Due: prettier --write, eslint

ready for review
  app/components/journals/JournalCard/index.tsx
  app/components/journals/JournalForm.tsx
  app/components/journals/ModalitySelect.tsx
  app/components/journals/SelectWithHint.tsx
  app/constants/journal.constants.ts
  app/routes/journals+/$journalId+/index.tsx
  app/routes/journals+/new+/index.tsx
  app/types/journals.ts
Due: prettier --write, eslint

Dev/journals v2 (#7)
  app/components/bardo/Accordion.tsx
  app/components/bardo/Checkbox.tsx
  app/components/bardo/Icons.tsx
  app/components/bardo/Switch.tsx
  app/components/bardo/typography/TypographyParagraph.tsx
  app/components/journals/CreateJournal.tsx
  app/components/journals/JournalCard/JournalBody.tsx
  app/components/journals/JournalCard/PopoverText.tsx
  app/components/journals/JournalCard/index.tsx
  app/components/journals/JournalForm.tsx
  app/components/journals/ModalitySelect.tsx
  app/components/journals/SelectWithHint.tsx
  app/components/nav/BardoLogo.tsx
  app/components/nav/MainNav.tsx
  app/components/nav/ProfileMenu.tsx
  app/components/users/UserAvatar.tsx
  app/components/users/UserJournalTabs.tsx
  app/components/users/UserPreviewCard.tsx
  app/constants/journal.constants.ts
  app/db.server.ts
  app/routes/journals+/$journalId+/index.tsx
  app/routes/journals+/_layout.tsx
  app/routes/journals+/index.tsx
  app/routes/journals+/new+/index.tsx
  app/routes/journals+/new+/indext.tsx
  app/routes/user-settings+/demographics+/index.tsx
  app/routes/user-settings+/index.tsx
  app/routes/users.$userId+/_layout.tsx
  app/routes/users.$userId+/index.tsx
  app/types/journals.ts
  app/types/users.ts
  app/utils/server.utils/search-params.utils.ts
  package.json
  prisma/migrations/20240421065833_update_journal_schema/migration.sql
  prisma/migrations/20240421074502_add_status_and_public/migration.sql
  prisma/schema.prisma
  yarn.lock
Due: prettier --write, eslint, yarn prisma-lint

wip
  app/components/journals/JournalForm.tsx
  app/components/journals/ModalitySelect.tsx
  app/db.server.ts
  app/types/journals.ts
Due: prettier --write, eslint

wip
  .eslintignore
  app/components/auth/SignInForm.tsx
  app/components/journals/JournalForm.tsx
  app/config/configuration.ts
  app/fixtures/emails/ResetEmail.tsx
  app/routes/api+/send-password-reset+/index.tsx
  app/routes/journals+/$journalId+/index.tsx
  app/routes/journals+/index.tsx
  app/services/auth/auth-server.service.ts
  app/services/email.service.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

should work
  app/fixtures/emails/ResetEmail.tsx
  public/logo-alt.png
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.tsx)) or (any of: *.css)
  eslint: (any of: *.ts) or (any of: *.tsx)
  yarn prisma-lint: any of: *.prisma
